$PrimaryColor: #09c478;
$TextSecondaryColor: #888;
$GreyBlack: #222;

:root {
  .light {
    --primary-bg: #f5f5f6;
    --text-primary-color: #{$GreyBlack};
    --content-bg: #fff;
    --primary-border: #f5f5f5;
  }

  .dark {
    --primary-bg: #232427;
    --text-primary-color: #fff;
    --content-bg: #171719;
    --primary-border: rgba(130, 140, 150, 0.1);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background: var(--content-bg);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 5px;
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    background: var(--primary-bg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

@keyframes logoAnimation {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@mixin rowsTitle {
  h5 {
    font-size: 1.17rem;
    font-weight: 600;
    color: var(--text-primary-color);
  }

  margin-bottom: 1rem;
}

@mixin singleLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

@mixin coverImage {
  aspect-ratio: 1/1;
  object-position: center;
  object-fit: cover;
}

@mixin transi_easy_in_out($second: 0.5s) {
  transition: all $second ease-in-out;
  -moz-transition: all $second ease-in-out;
}

@mixin expand_page($expanded: false) {
  @if $expanded {
    width: 100%;
    margin-left: 0;
  }

  @else {
    margin-left: 240px;
    width: calc(100% - 240px);
  }
}

.Main {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;

  .page {
    @include expand_page;

    @media screen and (max-width: 767px) {
      @include expand_page($expanded: true);
    }

    .error_404 {
      display: block;
      text-align: center;
      padding: 5rem 0;

      h1 {
        font-size: 70px;
        color: var(--text-primary-color);
      }

      p {
        padding-top: .5rem;
        font-size: 15px;
        color: $TextSecondaryColor;
      }

      button {
        margin-top: 1rem;
        width: auto;
        text-align: center;
        padding: .5rem 1.5rem;
        color: $PrimaryColor;
        background: transparent;
        border-radius: 9999px;
        border: 1px solid $PrimaryColor;
        cursor: pointer;
        @include transi_easy_in_out;

        &:hover {
          border-color: var(--text-primary-color);
          color: var(--text-primary-color);
        }
      }
    }
  }

  .container {
    padding: 1.5rem;
  }
}

.expand {
  @media screen and (min-width: 768px) {
    .page {
      @include expand_page($expanded: true);
    }
  }
}

.see_more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    color: var(--text-primary-color);
    font-weight: 700;
    text-transform: uppercase;
    background: var(--content-bg);
    border: 1px solid var(--primary-border);
    font-size: 12px;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    border-radius: 9999px;
    @include transi_easy_in_out;

    &:hover {
      background: var(--primary-bg);
    }

    &::after {
      display: none;
      content: '●';
    }

    &:is(.active) {
      color: $PrimaryColor;

      span {
        display: none;
      }

      &::after {
        display: block;
        animation: hideAndShow 1s ease-in-out infinite;
      }
    }
  }
}