@import '../../index.scss';

.slick-initialized {
    overflow: hidden;
}

.recommended {
    margin-bottom: 2rem;

    .title {
        @include rowsTitle;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(9rem, 1fr));
        gap: 1rem;

        @media screen and (max-width:1060px) {
            grid-template-columns: repeat(2, minmax(9rem, 1fr));
        }

        @media screen and (max-width:540px) {
            grid-template-columns: auto;
        }

        .card {
            position: relative;
            background: var(--primary-bg);
            padding: .5rem 0;
            padding-bottom: .2rem;
            align-items: center;
            width: 100%;
            display: flex;
            flex-direction: row;
            height: auto;
            border-radius: 5px;

            img {
                @include coverImage;
                width: 3rem;
                height: 3rem;
                border-radius: 5px;
                margin-left: .5rem;
            }

            .details {
                padding-left: 1rem;
                width: 9rem;

                @media screen and (max-width:1115px) {
                    width: 8rem;
                }

                @media screen and (max-width:790px) {
                    width: 7rem;
                }

                @media screen and (max-width:540px) {
                    width: 11rem;
                }

                @media screen and (max-width:340px) {
                    width: 7rem;
                }


                h5 {
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--text-primary-color);
                    @include singleLine;
                }

                p {
                    color: $TextSecondaryColor;
                    font-size: 12px;
                    @include singleLine;
                }
            }

            .play {
                position: absolute;
                padding-left: 1rem;
                height: 100%;
                left: 0;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: right;
                margin-right: .5rem;
                opacity: 0;
                @include transi_easy_in_out($second: .5s);

                &:hover {
                    opacity: 1;
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.5rem;
                    width: 1.5rem;
                    border-radius: 50%;
                    background: $PrimaryColor;
                    border: none;
                    cursor: pointer;
                    @include transi_easy_in_out($second: .5s);

                    svg {
                        fill: var(--text-primary-color);
                    }

                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}

.carousel {
    margin-bottom: 1.5rem;

    .title {
        @include rowsTitle;
        margin-bottom: .5rem;
    }

    .inner {
        margin-left: -.5rem;
        margin-right: -.5rem;

        .card {
            padding: .5rem;
            position: relative;
            cursor: pointer;

            img {
                @include coverImage;
                border-radius: 5px;
                width: calc(100% - 1rem);
                height: auto;
            }

            .hover-details {
                background: transparent;
                display: flex;
                top: 0;
                bottom: 7%;
                right: .5rem;
                position: absolute;
                width: 100%;
                flex-direction: row-reverse;
                align-items: end;
                justify-content: center;
                opacity: 0;
                @include transi_easy_in_out($second: .5s);

                &:hover {
                    opacity: 1;
                }

                button {
                    position: absolute;
                    right: 1.5rem;
                    background: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2.5rem;
                    width: 2.5rem;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    @include transi_easy_in_out($second: .5s);

                    &:hover {
                        transform: translateY(-5px);
                    }
                }

                .details {
                    position: absolute;
                    left: 1.5rem;
                    max-width: 40%;
                    text-align: left;

                    h5 {
                        @include singleLine;
                        line-height: 1.875rem;
                        font-size: 14px;
                        color: #fff;
                        font-weight: 600;
                    }

                    p {
                        @include singleLine;
                        font-size: 12px;
                        color: $TextSecondaryColor;
                    }
                }
            }
        }
    }
}

.genres {
    margin-bottom: 2rem;

    .title {
        @include rowsTitle;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
        gap: 1rem;

        @media screen and (max-width: 862px) {
            grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
        }

        button {
            @include singleLine;
            width: 100%;
            height: 3rem;
            padding: .5rem 1rem;
            text-align: left;
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            color: var(--text-primary-color);
            border-radius: 5px;
            border: none;
            background: var(--primary-bg);
            @include transi_easy_in_out($second: .5s);

            &:hover {
                background: rgba(150, 155, 160, .2);
            }

            @-moz-document url-prefix() {
                font-weight: 400;
            }
        }
    }
}