@import '../../index.scss';

@keyframes hideAndShow {
    0% {
        content: '●';
    }

    50% {
        content: '● ●';
    }

    100% {
        content: '● ● ●';
    }
}

.load_more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        color: var(--text-primary-color);
        font-weight: 700;
        text-transform: uppercase;
        background: var(--content-bg);
        border: 1px solid var(--primary-border);
        font-size: 12px;
        cursor: pointer;
        width: 8rem;
        height: 2rem;
        border-radius: 9999px;
        @include transi_easy_in_out;

        &:hover {
            background: var(--primary-bg);
        }

        &::after {
            display: none;
            content: '●';
        }

        &:is(.active) {
            color: $PrimaryColor;

            span {
                display: none;
            }

            &::after {
                display: block;
                animation: hideAndShow 1s ease-in-out infinite;
            }
        }
    }
}