@import "../../index.scss";

.banner {
  margin-bottom: 2rem;

  .details {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: end;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .thumbnail {
      width: auto;

      img {
        @include coverImage;
        border-radius: 5px;
        width: 100%;
        max-height: 220px;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }

      svg {
        @include coverImage;
        border-radius: 5px;
        padding: 2rem;
        width: calc(100% - 4rem);
        max-height: calc(220px - 4rem);
        height: calc(auto - 4rem);
        fill: var(--text-primary-color);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }

    .content {
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
      padding-top: 0;
      width: 50%;

      @media screen and (max-width: 500px) {
        width: 100%;
        padding-left: 0;
        padding-top: 1.5rem;
      }

      h5 {
        @include singleLine;
        font-weight: 700;
        color: var(--text-primary-color);
      }

      h1 {
        @include singleLine;
        width: auto;
        color: $PrimaryColor;
        line-height: 3rem;
        font-weight: 800;
      }

      p {
        @include singleLine;
        width: auto;
        color: $TextSecondaryColor;
        font-size: small;
        font-weight: normal;
      }

      ul {
        padding-top: 0.8rem;
        list-style: disc;
        display: flex;

        li {
          position: relative;
          font-size: 12px;
          padding-right: 1.8rem;
          font-weight: 500;
          color: var(--text-primary-color);

          span {
            margin-left: -5px;
          }

          &:is(.avatar) {
            position: relative;

            span {
              margin-left: 0;
              padding-left: 2.1rem;
            }

            img {
              @include coverImage;
              position: absolute;
              height: 1.7rem;
              border-radius: 50%;
              margin-top: -5%;
            }

            svg {
              @include coverImage;
              position: absolute;
              height: 1.7rem;
              border-radius: 50%;
              margin-top: -5%;
              fill: var(--text-primary-color);
              border: 1px solid var(--text-primary-color);
            }
          }

          &:first-child {
            list-style: none;
          }

          @-moz-document url-prefix() {
            padding-right: 1.5rem;

            span {
              margin-left: 0;
            }
          }
        }
      }
    }
  }

  .actions {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    @media screen and (max-width: 500px) {
      padding-top: 0;
    }

    .play {
      display: flex;
      flex-direction: row;
      height: 2.5rem;
      width: 6rem;
      background: $PrimaryColor;
      border: none;
      border-radius: 10px;
      color: #fff;
      align-items: center;
      justify-content: center;
      @include transi_easy_in_out;

      &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: translateY(-3px);
      }
    }

    .extra {
      background: none;
      border: none;
      cursor: pointer;
      @include transi_easy_in_out;

      svg {
        fill: var(--text-primary-color);
      }

      &:hover {
        transform: scale(1.2) translateY(-3px);
      }

      &:is(.active) svg {
        fill: $PrimaryColor;
      }
    }
  }
}

.collections {
  table {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    table-layout: fixed;
    border-collapse: collapse;

    tr {
      &:hover {
        td {
          background: var(--primary-bg);

          .count {
            display: none;
          }

          .Play {
            display: flex;
          }
        }
      }

      td {
        @include transi_easy_in_out;
        padding: .5rem;
        font-size: 11.5px;
        color: var(--text-primary-color);

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        img {
          display: flex;
          align-items: center;
          object-fit: cover;
          aspect-ratio: 1/1;
          height: 2.5rem;
          object-position: center;
          border-radius: 5px;
        }

        &:is(.thumb) {
          svg {
            display: flex;
            align-items: center;
            object-fit: cover;
            aspect-ratio: 1/1;
            height: 1.5rem;
            object-position: center;
            border-radius: 5px;
            padding: .5rem;
            border: 1px solid var(--primary-border);
            fill: var(--text-primary-color)
          }
        }

        p {
          @include singleLine;
          width: 100%;

          &:is(.medium) {
            font-size: 12px;
          }
        }

        .grey {
          color: $TextSecondaryColor;
        }

        .Play {
          display: none;
          width: 100%;
          align-content: center;
          justify-content: center;
          background: none;
          border: none;
          cursor: pointer;

          svg {
            fill: var(--text-primary-color);
          }
        }

        .more_btn {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;

          button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            cursor: pointer;

            svg {
              fill: var(--text-primary-color);
            }
          }

        }

        div[class^='more_options'] {
          display: none;
          text-align: left;
          position: absolute;
          background: var(--content-bg);
          border-radius: 5px;
          margin-top: -2rem;
          right: 2rem;
          width: 8rem;
          border: 1px solid var(--primary-border);
          padding: .5rem 0;
          z-index: 1000;

          ul {
            list-style: none;

            li {
              padding: .5rem 1rem;
              color: var(--text-primary-color);
              @include transi_easy_in_out;

              &:hover {
                cursor: pointer;
                background: var(--primary-bg);
              }
            }
          }
        }

        .flex-md {
          .medium-device {
            display: none;
          }
        }

        @media screen and (max-width:767px) {
          &:is(.desktop) {
            display: none;
          }

          .flex-md {
            display: flex;
            flex-direction: column;
            gap: 0;
            align-items: center;
            justify-content: left;
            text-align: left;

            .medium-device {
              display: block
            }
          }
        }
      }
    }
  }
}

#collections {
  .load_more {
    margin-bottom: 2rem;
  }
}