@import '../../index.scss';

.library_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

    .title {
        @include rowsTitle;
        margin-bottom: 0;
    }

    .search_library {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        svg {
            fill: var(--text-primary-color);
            right: .3rem;

            &:is(.active) {
                position: absolute;
                left: 0;
                padding: 0 .5rem;
            }
        }


        input {
            background: transparent;
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            outline: none;
            border: none;
            color: transparent;

            &::placeholder {
                color: transparent;
            }

            &:hover {
                cursor: pointer;
                background: rgba(0, 0, 0, 0.2);
            }

            &:focus {
                cursor: text;
                width: auto;
                background: rgba(0, 0, 0, 0.2);
                padding-left: 2rem;
                padding-right: .5rem;
                position: relative;
                border-radius: 5px;
                color: var(--text-primary-color);

                &::placeholder {
                    color: var(--text-primary-color);
                }

                @media screen and (max-width: 440px) {
                    width: 6rem;
                }

                @media screen and (max-width: 310px) {
                    width: 4rem;
                }
            }
        }
    }

    button[data-for="modal"] {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: .5rem;

        svg {
            fill: var(--text-primary-color);
        }
    }
}

.libray_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1100;
    background: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: modal .5s ease-in-out forwards;

    .inner {
        width: 390px;
        background: var(--content-bg);
        padding: 1rem 0;
        border-radius: 5px;
        height: auto;

        @media screen and (max-width: 440px) {
            width: calc(100% - 3rem);
            margin: 2rem 1.5rem;
        }

        ul {
            list-style: none;

            .edit_add {
                display: flex;
                flex-direction: row;
                padding: .5rem 1rem;

                input {
                    background: transparent;
                    width: 100%;
                    height: 2rem;
                    border: none;
                    border-bottom: 1px solid $PrimaryColor;
                    outline: none;
                    color: var(--text-primary-color);
                }

                button {
                    background: $PrimaryColor;
                    border: 1px solid $PrimaryColor;
                    padding: .5rem;
                    color: #fff;
                    border-radius: 5px;
                    border-bottom-left-radius: 0;
                    text-transform: uppercase;
                    cursor: pointer;
                    @include transi_easy_in_out($second: .2s);

                    &:hover {
                        color: var(--text-primary-color);
                        background: transparent;
                    }
                }
            }

            li {
                padding: .5rem 1rem;
                border: 1px solid var(--primary-border);
                border-left: none;
                border-right: none;

                button {
                    border: none;
                    color: var(--text-primary-color);
                    font-size: 12px;
                    background: none;
                    cursor: pointer;
                    @include transi_easy_in_out($second: .2s);

                    &:hover {
                        color: $PrimaryColor;
                    }
                }
            }
        }
    }
}